<div class="col-sm-6 col-sm-offset-3">

    <h1></span> Races</h1>

    <!-- show any messages that come back with authentication -->
    {{#if message }}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <h1>Aantal: {{races.length}}</h1>
    <ul>
        {{#each races}}
        <li>
            <div>
                <strong>Id: </strong><span>{{_id}}</span><br />
                <strong>Name: </strong><span>{{name}}</span><br />
                <strong>Waypoints:</strong><br />
                {{#each waypoints}}
                <strong style="margin-left: 20px">waypointName: </strong><span>{{name}}</span>
                {{#if visited}}
                <strong>Tagged!</strong>
                {{else}}
                <button class="tagwaypoint" value="{{../../_id}}" id="{{../_id}}">Tag waypoint</button>
                {{/if}}            
                <br />           
                {{/each}}
                <br />  
                <button class="deleteRace" id="delete{{_id}}">Delete Race</button>
                <select class="waypointselect" id="waypointselect{{_id}}">
                    {{#each ../allwaypoints}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                <button class="addWaypoint" id="addWaypoint{{_id}}">Add Waypoint</button>
            </div>
        </li>
        <br /><br /><br />
        {{/each}}
    </ul>
    <br />
  <h1>Add new race</h1>
<form action="/races" method="post">
    Race name:<br>
    <input type="text" name="name" value="something">
    <input type="submit" value="Submit">
</form>
</div>
<script>
    $(".deleteRace").click(function () {
        $.ajax({
            url: '/races/' + $(this).attr('id').slice(6),
            type: 'DELETE'
        });
        location.reload();
    });

    $(".addWaypoint").click(function () {
        var raceId = $(this).attr('id').slice(11);
        var waypointId = $('#waypointselect' + raceId).find(":selected").attr('value');
        var waypointName = $('#waypointselect' + raceId).find(":selected").text();
        $.ajax({
            url: '/races/' + raceId,
            type: 'PUT',
            data: { waypoint: {googleId: waypointId, name: waypointName} }
        });
        location.reload();
    });

    $(".tagwaypoint").click(function () {
        $.ajax({
            url: '/races/' + $(this).attr('value') + '/' + $(this).attr('id'),
            type: 'PUT'
        });
        location.reload();
    });
</script>