<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa"></span> Races</h1>

    <!-- show any messages that come back with authentication -->
    {{#if message }}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <h1>Aantal: {{races.length}}</h1>
    <ul>
        {{#each races}}
        <li>
            <div>
                <strong>Id: </strong><span>{{_id}}</span><br />
                <strong>Name: </strong><span>{{name}}</span><br />
                <strong>Waypoints:</strong><br />
                {{#each waypoints}}
                <strong>waypointName: </strong><span>{{name}}</span><br />           
                {{/each}}
                <button class="deleteRace" id="{{_id}}">delete</button>
                <select>
                    {{#each ../allwaypoints}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </li>
        <br />
        {{/each}}
    </ul>
    <br />
  <h1>Add new race</h1>
<form action="/races" method="post">
    Race name:<br>
    <input type="text" name="name" value="something">
    <input type="submit" value="Submit">
</form>
</div>
<script>
    $( ".deleteRace" ).click(function() {
              $.ajax({
                       url: '/races/' + $(this).attr('id'),
                       type: 'DELETE'
             });
             location.reload();
        });
</script>